{% extends 'mask_rcnn/mask_rcnn_base.html' %}

{% block main %}

<div class="col-lg-6 col-md-6 mb-4">
    <div class="image-container">
        <img id="upload_img" class="img-fluid" width="512" height="512" src="{{ url_for('static',filename='img/test.png') }}" alt="Image 1">
        <input class="file-upload" style="display: none" type="file" accept="image/*" name="upload_img"/>
    </div>
</div>

<div class="col-lg-6 col-md-6 mb-4">
    <div class="image-container">
        <img id="download_img" class="img-fluid" width="512" height="512" src="{{ url_for('static',filename='img/test.png') }}" alt="Image 2">
    </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-5 d-flex justify-content-end">
    <button type="button" class="btn btn-primary " id="btn_upload" >上传文件</button><!--mx-auto -->
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
    <button id="btn_download" class="btn btn-primary" type="button">请求图片</button>
    </div>
  </div>
</div>

{% endblock %}


{% block slef_js %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/inference.js') }}"></script>
{% endblock %}