blueprint/__pycache__/*
/static/model/*
/cache/
__pycache__/*
.idea/*
blueprint/__pycache__/train.cpython-38.pyc
blueprint/__pycache__/home.cpython-38.pyc
blueprint/__pycache__/display.cpython-38.pyc
blueprint/__pycache__/__init__.cpython-38.pyc
