{% extends 'cascade_mask_rcnn/cascade_mask_rcnn_base.html' %}


{% block main %}
    {# 标题，下拉栏 #}
    <div class="col-lg-8">
        <h1>PR_Curve</h1>
        <div class="col-md-12 mb-4 ml-0 pl-0">
            <div class="dropdown">
                <div class="container" style="padding-left: 0px">
                    <div class="row">
                        <div class="col-md-6 mt-2">
                            <h5>Select a Category:</h5>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-secondary dropdown-toggle" id="metric-type-dropdown" href="#"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                (Category Type)
                            </a>
                            {#1: Neoplastic 2:Connective 3:Inflammatory 4:Non-Neoplasti Epithelial(Non-neo. Epi)  5:Dead#}
                            <ul class="dropdown-menu" id="category-dropdown-menu">
                                <li><a class="dropdown-item" href="#" data-value="Category 1:Neoplastic">Category
                                    1:Neoplastic</a>
                                </li>
                                <li><a class="dropdown-item" href="#" data-value="Category 2:Connective">Category
                                    2:Connective</a>
                                </li>
                                <li><a class="dropdown-item" href="#" data-value="Category 3:Inflammatory">Category
                                    3:Inflammatory</a></li>
                                <li><a class="dropdown-item" href="#" data-value="Category 4:Non-neo.
                                    Epi">Category 4:Non-neo.
                                    Epi</a></li>
                                <li><a class="dropdown-item" href="#" data-value="Category 5:Dead">Category 5:Dead</a>
                                </li>
                                <li><a class="dropdown-item" href="#" data-value="Category All">Category All:All
                                    classes</a></li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- 隐藏域用于存储 selected_category_value 的值 -->
    <input type="hidden" id="selected-category-value" value="Category All">
    {% block metric_graph %}

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div id="{{ img_id_list["img_segm"] }}" class="carousel carousel-dark slide">
                        {#                        <div class="carousel-indicators">#}
                        {#                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"#}
                        {#                                    class="active" aria-current="true" aria-label="Slide 1"></button>#}
                        {#                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"#}
                        {#                                    aria-label="Slide 2"></button>#}
                        {#                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"#}
                        {#                                    aria-label="Slide 3"></button>#}
                        {#                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"#}
                        {#                                    aria-label="Slide 4"></button>#}
                        {#                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"#}
                        {#                                    aria-label="Slide 5"></button>#}
                        {#                        </div>#}
                        <div class="card-body">
                            <h5 class="card-title">Metric Type : Segm</h5>
                        </div>

                        <div class="carousel-inner">

                            {% for index, img in img_list['segm_img_list'] %}
                                <div class="carousel-item  {% if loop.first %}active{% endif %}"
                                     data-bs-interval="1000000">
                                    <img src="{{ url_for('static', filename=img) }}"
                                         class="d-block w-100" alt="Slide {{ index }}">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button"
                                data-bs-target={{ "#" + img_id_list["img_segm"] }}
                                        data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-bs-target={{ "#" + img_id_list["img_segm"] }}
                                        data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div id="{{ img_id_list["img_bbox"] }}" class="carousel carousel-dark slide">
                        <div class="card-body">
                            <h5 class="card-title">Metric Type : <span id="metric-type-label">Bbox</span></h5>
                        </div>
                        <div class="carousel-inner">
                            {% for index, img in img_list['bbox_img_list'] %}
                                <div class="carousel-item  {% if loop.first %}active{% endif %}"
                                     data-bs-interval="1000000">
                                    <img src="{{ url_for('static', filename=img) }}"
                                         class="d-block w-100" alt="Slide {{ index }}">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button"
                                data-bs-target={{ "#" + img_id_list["img_bbox"] }}
                                        data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-bs-target={{ "#" + img_id_list["img_bbox"] }}
                                        data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
    {% block pr_page_metric %}
        <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
            {#        <h1 style="color: rgb(65, 131, 196)">PR_Metric</h1>#}

            <h2>Metric Paraphrase：</h2>
            <div class="col-md-6 mt-4 mb-4">
                <h4>1. Bbox区域类型: </h4>
                <p>这是表示检测框的区域大小的名称列表。列表包含了不同的区域大小，分别是：</p>
                <ul>
                    <li>所有区域(allarea)、</li>
                    <li>小区域(small)、</li>
                    <li>中等区域(medium)、</li>
                    <li>大区域(large)。</li>

                </ul>
                <p>这些区域大小通常是基于目标的尺寸或面积定义的。</p>
            </div>
            <div class="col-md-6 mt-4 mb-4">
                <h4>2. 图例列表: </h4>
                <p>这是表示错误类型的列表。列表包含了不同的错误类型，分别是：</p>
                <ul>
                    <li>对应类别75% IoU(C75)、</li>
                    <li>对应类别50% IoU(C50)、</li>
                    <li>定位错误(Loc)、</li>
                    <li>相似错误(Sim)、</li>
                    <li>其他错误(Oth)、</li>
                    <li>背景错误(BG)、</li>
                    <li>漏检错误(FN)、</li>
                </ul>
            </div>
        </div>
    {% endblock %}


{% endblock %}

{% block slef_js %}
    <script>
        // 声明全局变量并初始化
        var selected_category_value = '{{ selected_category_value }}';
        $(document).ready(function () {
            // 监听指定id下拉菜单选项的点击事件：事件委托写法
            // $("#category-dropdown-menu").on("click", "a.dropdown-item", function (event) {
            // ...

            // 直接监听click事件写法:
            // .dropdown-item 是 <a> 元素的 class, 写为a.dropdown
            $("#category-dropdown-menu a.dropdown-item").click(function (event) {
                event.preventDefault(); // 阻止默认点击事件
                // 获取选项的值
                var selectedValue = $(this).data("value");
                console.log(selectedValue)
                var cat_number = 1
                {#var encodedValue = encodeURIComponent(selectedValue);#}
                if (selectedValue === "Category All") {
                    console.log("The string is equal to 'Category All'");
                    cat_number = 6
                } else {
                    console.log("The string is not equal to 'Category All'");
                    var regex = /\d+/;  // 匹配一个或多个数字
                    var match = selectedValue.match(regex);
                    if (match) {
                        cat_number = parseInt(match[0]);  // 将匹配到的数字转换为整数
                        console.log(cat_number);  // 输出提取到的数字
                    } else {
                        console.log("No cat_number found");
                    }
                }
                var currentURL = window.location.href;
                var pathParts = currentURL.split('/');
                var model_path = pathParts[3];

                // 更新 "(Metric Type)" 的文本为选项的值
                $("#metric-type-dropdown").text(selectedValue);

                // 更新选择的Category Type标签的文本为选项的值
                // $("#metric-type-label").text(selectedValue);

                // 更新隐藏域中的值
                $("#selected-category-value").val(selectedValue);

                // 将选项的值发送到后端视图函数
                $.ajax({
                    url: '/' + model_path + "/pr_page_update",
                    type: "GET",
                    data: {page: cat_number},
                    success: function (response) {
                        // 根据后端返回的数据进行相应处理，更新页面内容等
                        // 更新轮播的代码块
                        var carousel_inner_bbox = $("#img_bbox .carousel-inner");
                        var carousel_inner_segm = $("#img_segm .carousel-inner");
                        carousel_inner_bbox.empty();  // 清空原有的内容
                        carousel_inner_segm.empty();
                        // 循环添加新的轮播项
                        var bbox_img_list = response['bbox_img_list'];
                        var segm_img_list = response['segm_img_list'];
                        for (var bbox_key in bbox_img_list) {
                            if (bbox_img_list.hasOwnProperty(bbox_key)) {
                                var bbox_index = bbox_key;
                                var bbox_img_elm = bbox_img_list[bbox_key];
                                var bbox_imgPath = bbox_img_elm[1]
                                console.log(bbox_imgPath);  // debug log
                                var bbox_carouselItem = $("<div>", {
                                    class: "carousel-item",
                                    "data-bs-interval": "1000000"
                                });
                                if (bbox_index === '3') {
                                    bbox_carouselItem.addClass("active");
                                }
                                var bbox_imgElement = $("<img>", {
                                    src: '/static/' + bbox_imgPath,
                                    class: "d-block w-100",
                                    alt: "Slide " + bbox_index
                                });
                                bbox_carouselItem.append(bbox_imgElement);
                                carousel_inner_bbox.append(bbox_carouselItem);
                            }
                        }
                        for (var segm_key in segm_img_list) {
                            if (segm_img_list.hasOwnProperty(segm_key)) {
                                var segm_index = segm_key;
                                var segm_img_elm = segm_img_list[segm_key];
                                var segm_imgPath = segm_img_elm[1]
                                console.log(segm_imgPath);  // debug log
                                var segm_carouselItem = $("<div>", {
                                    class: "carousel-item",
                                    "data-bs-interval": "1000000"
                                });
                                if (segm_index === '3') {
                                    segm_carouselItem.addClass("active");
                                }
                                var segm_imgElement = $("<img>", {
                                    src: '/static/' + segm_imgPath,
                                    class: "d-block w-100",
                                    alt: "Slide " + segm_index
                                });
                                segm_carouselItem.append(segm_imgElement);
                                carousel_inner_segm.append(segm_carouselItem);
                            }
                        }
                        {#var imgList = response['bbox_img_list'];#}
                        {#for (var key in imgList) {#}
                        {#    if (imgList.hasOwnProperty(key)) {#}
                        {#        var index = key;#}
                        {#        var imgPath = imgList[key];#}
                        {#        // 选择页面上的图片元素并更新它们的 src 属性#}
                        {#        $("#img_bbox .carousel-item:nth-child(" + index + ") img").attr("src", "/static/" + imgPath);#}
                        {#    }#}
                        {# }#}
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>

{% endblock %}