{% extends 'mask_rcnn/mask_rcnn_base.html' %}

{% block main %}
<div class="col-md-4">混淆矩阵</div>
<div class="image-container">
    <img src="{{ url_for('static',filename='img/confusion_matrix.png') }}" alt="混淆矩阵">
</div>
<div class="col-md-7">
    <!-- 主页 -->
    测试
</div>
<!-- <div><h1>混淆矩阵图</h1>
                           {% if confusion_matrix_file %}
                           <p>{{output}}</p>
                            <img src="{{ url_for('static',filename='matrix/matrix.png') }}" alt="混淆矩阵">
                           {% else %}
                           <p>{{output}}</p>
                           <p>未生成混淆矩阵图像</p>
                          {% endif %}
                        </div> -->

{% endblock %}