{% extends 'cascade_mask_rcnn/cascade_mask_rcnn_base.html' %}


{% block main %}
    {# 标题，下拉栏 #}
    <div class="col-lg-8">
        <h1>PR_Curve</h1>
        <div class="col-md-12 mb-4 ml-0 pl-0">
            <div class="dropdown">
                <div class="container" style="padding-left: 0px">
                    <div class="row">
                        <div class="col-md-6 mt-2">
                            <h5>Select a Category:</h5>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-secondary dropdown-toggle" id="metric-type-dropdown" href="#"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                (Category Type)
                            </a>
                            {#1: Neoplastic 2:Connective 3:Inflammatory 4:Non-Neoplasti Epithelial(Non-neo. Epi)  5:Dead#}
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" data-value="Category 1">Category 1:Neoplastic</a></li>
                                <li><a class="dropdown-item" href="#" data-value="Category 2">Category 2:Connective</a></li>
                                <li><a class="dropdown-item" href="#" data-value="Category 3">Category 3:Inflammatory</a></li>
                                <li><a class="dropdown-item" href="#" data-value="Category 4">Category 4:Non-neo. Epi</a></li>
                                <li><a class="dropdown-item" href="#" data-value="Category 5">Category 5:Dead</a></li>
                                <li><a class="dropdown-item" href="#" data-value="Category All">Category All:All classes</a></li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    {% block metric_graph %}
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div id="{{ img_id_list["img_segm"] }}" class="carousel carousel-dark slide">

{#                        <div class="carousel-indicators">#}
{#                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"#}
{#                                    class="active" aria-current="true" aria-label="Slide 1"></button>#}
{#                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"#}
{#                                    aria-label="Slide 2"></button>#}
{#                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"#}
{#                                    aria-label="Slide 3"></button>#}
{#                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"#}
{#                                    aria-label="Slide 4"></button>#}
{#                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"#}
{#                                    aria-label="Slide 5"></button>#}
{#                        </div>#}
                        <div class="card-body">
                            <h5 class="card-title">Metric Type : Segm</h5>
                        </div>

                        <div class="carousel-inner">

                            {% for index, img in img_list['segm_img_list'] %}
                                <div class="carousel-item  {% if loop.first %}active{% endif %}"
                                     data-bs-interval="1000000">
                                    <img src="{{ url_for('static', filename=img) }}"
                                         class="d-block w-100" alt="Slide {{ index }}">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button"
                                data-bs-target={{ "#" + img_id_list["img_segm"] }}
                                        data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-bs-target={{ "#" + img_id_list["img_segm"] }}
                                        data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div id="{{ img_id_list["img_bbox"] }}" class="carousel carousel-dark slide">
                        <div class="card-body">
                            <h5 class="card-title">Metric Type : Bbox</h5>
                        </div>
                        <div class="carousel-inner">
                            {% for index, img in img_list['bbox_img_list'] %}
                                <div class="carousel-item  {% if loop.first %}active{% endif %}" data-bs-interval="1000000">
                                    <img src="{{ url_for('static', filename=img) }}" class="d-block w-100"
                                         alt="Slide {{ index }}">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button"
                                data-bs-target={{ "#" + img_id_list["img_bbox"] }}
                                        data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-bs-target={{ "#" + img_id_list["img_bbox"] }}
                                        data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

{% endblock %}

{% block slef_js %}
    <script type="text/javascript" charset="UTF-8">
        document.addEventListener("DOMContentLoaded", function () {
            // 获取下拉菜单
            var dropdownMenu = document.querySelector(".dropdown-menu");

            // 监听下拉菜单选项的点击事件
            dropdownMenu.addEventListener("click", function (event) {
                // 检查点击的元素是否为下拉菜单选项
                if (event.target.matches(".dropdown-item")) {
                    // 获取选项的值
                    var selectedValue = event.target.getAttribute("data-value");

                    // 更新 "(Metric Type)" 的文本为选项的值
                    var metricTypeDropdown = document.querySelector("#metric-type-dropdown");
                    metricTypeDropdown.textContent = selectedValue;
                }
            });
        });
    </script>

{% endblock %}