{% extends 'cascade_mask_rcnn/cascade_mask_rcnn_base.html' %}

{% block main %}
    the model is training.
    {#    <div class="">{{ args }}</div>#}
    {#    {% for arg in args %}#}
    {#        <div class="">{{ args[arg] }}</div>#}
    {#    {% endfor %}#}
    <div class="container">
        <div class="row">
            <div class="input-group col-md-6 mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">key: </span>

                </div>
                <input id="model_key" type="text" class="form-control" placeholder="{{ key }}" aria-label="Username"
                       aria-describedby="basic-addon1">
                <button id="btn_stop" type="button" class="btn btn-primary col-lg-2 col-md-2">终止训练</button>
            </div>
            <!--mx-auto -->

        </div>

    </div>
{#    <div class="container">#}
{#        <div id="log_box" class="pre-scrollable"></div>#}
{#    </div>#}
    <div id="log_box" data-bs-spy="scroll" data-bs-offset="0" class="border border-primary"
         style="position: relative;height: 800px;overflow: auto;" tabindex="0">
    </div>

{% endblock %}


{% block slef_js %}

    <script type="text/javascript" charset="UTF-8">
        // 获取图片的唯一编码
        let model_key = '{{ key }}';
        let upload_key;
        let stop = false;
        // 点击显示图片并预览
        $(document).ready(function () {
            $('#btn_stop').click(function () {
                // 获取key
                var get_key = document.getElementById("model_key").value;
                if (document.getElementById("model_key").value === '') {
                    upload_key = model_key;
                } else {
                    upload_key = get_key;
                }
                var currentURL = window.location.href;
                var pathParts = currentURL.split('/');
                var model_path = pathParts[3];

                // 发起AJAX请求
                var input = {
                    'key': upload_key,
                }
                $.ajax({
                    url: '/' + model_path + '/stop_train', // Flask的/upload接口的URL
                    type: 'POST',
                    data: JSON.stringify(input),
                    processData: false,
                    contentType: 'application/json',
                    {#contentType: false,#}
                    success: function (response) {
                        // 上传成功后的操作
                        alert(response['apply']);
                        stop = true;
                        // alert('图片上传成功！');
                        //console.log(response); // 可根据需要处理服务器返回的响应数据
                    }
                });

            });
            // 轮询请求log
            setInterval(function () {

                var currentURL = window.location.href;
                var pathParts = currentURL.split('/');
                var model_path = pathParts[3];
                if (!stop) {
                    $.ajax({
                        url: '/' + model_path + '/log/' + model_key, // 后端数据接口的 URL
                        success: function (data) {
                            // 更新前端页面的数据
                            $('#log_box').html(data);
                            var div = document.getElementById('log_box');
                            div.scrollTop = div.scrollHeight;
                        }
                    });
                }
            }, 500); // 间隔时间为 1 秒

        });

    </script>
{% endblock %}